
#include "version.h"

#define VERSIONINFO_1   1

VERSIONINFO_1  VERSIONINFO
 FILEVERSION QSEARCHVERN
 PRODUCTVERSION QSEARCHVERN
 FILEFLAGSMASK 0x17L
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"                                  
  BEGIN
        BLOCK "000004b0"
    BEGIN
      VALUE "Comments",         "ConEmu.Maximus5@gmail.com"
      VALUE "CompanyName",      "Maximus5, http://code.google.com/p/conemu-maximus5/wiki/QSearchSwitch"
      VALUE "FileDescription",  "QSearch switch" QSEARCHPLTFRM
      VALUE "FileVersion",      QSEARCHVERS
      VALUE "InternalName",     "QSearchSwitch"
      VALUE "LegalCopyright",   "© Maximus5 2012"
      VALUE "OriginalFilename", "QSearchSwitch.dll"        
      VALUE "ProductName",      "QSearch switch"
      VALUE "ProductVersion",   QSEARCHVERS
    END
  END
  BLOCK "VarFileInfo"                                     
  BEGIN
        VALUE "Translation", 0x0, 1200
  END
END
