
#include "version.h"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION FAR3WRAPVERN
 PRODUCTVERSION FAR3WRAPVERN
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "ConEmu.Maximus5@gmail.com\0"
            VALUE "CompanyName", "Maximus5, http://forum.farmanager.com/viewtopic.php?f=8&t=6407\0"
            VALUE "FileDescription", "Far2->Far3 plugin wrapper" FAR3WRAPPLTFRM
            VALUE "FileVersion", FAR3WRAPVERS
            VALUE "LegalCopyright", "(C) 2011 Maximus5"
            VALUE "OriginalFilename", "Far3Wrap.dll"
            VALUE "ProductName", "Far3 wrapper"
            VALUE "ProductVersion", FAR3WRAPVERS
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
